@if (IsLoading)
{
    <div>
        <h3>Loading Counter...</h3>
    </div>
}
else
{
    <div class="d-flex flex-column gap-2 align-items-center">
        <button class="btn btn-outline-primary" @onclick="HandleIncrement">
            Counting @Count from WASM
        </button>

        <small>This component was rendered from Client-Side using Blazor WASM</small>
    </div>
}

@code {
    private int Count = 0;
    private bool IsLoading = true;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            IsLoading = false;
            this.StateHasChanged();
        }

        base.OnAfterRender(firstRender);
    }

    void HandleIncrement()
    {
        Count++;
    }
}
